.flexContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: #1abc9c;
  width: 400px;
  justify-content: center;
  margin: 0 auto 0 auto; /* Per centrar la calculadora */
  border: 7px solid #dddd;
  border-radius: 10px;
}

.flexContainer > div, #myCal, #myCal2 {
  background-color: #f1f1f1;
  width: 65px;
  margin: 10px;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
}

#myCal, #myCal2 {
  width: 100%;
  margin: 10px 30px 10px 30px;
}

#myCal, #myCal2, .flexContainer > div:hover {
  opacity: 0.7;
}
#igual{
	width: 458px;
}
